<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel="tests" thread-count="6" >
<listeners>
<listener class-name="test.Listener"/>
</listeners>
<parameter name="URL" value="https://rahulshettyacademy.com/#/index"/>
<parameter name="APIKey" value="1234"/>
  <test name="Car Loan" parallel="classes" thread-count="5">
    <classes>
      <class name="test.FirstDemo">
      <methods>
      <exclude name="demo2">
      </exclude>
        
      </methods>
      
      </class>
      <class name="test.Demo2"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Home Loan">
    <classes>
      <class name="test.Demo4">
      <methods>
      <exclude name="Mobile.*">
      </exclude>
      </methods>
      
      </class>
    </classes>
     </test> 
     
     <test name="General Loan">
    <classes>
      <class name="test.Demo3"/>
           
    </classes>
     </test> 
</suite> <!-- Suite -->
